# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


## ignore
build1/
workoutAI.code-workspace - 바로 가기.lnk
webpack.config.js
src/pages/ZipViewer.js
src/pages/Exercise/VideoTest.js
src/pages/Ai/WebSocket.js
src/pages/ModalSample.js
src/setupProxy.js
src/components/legacySideBar.js
src/pages/Temporary.js
src/pages/Food/MuiExcel.js
src/ExcelTest.js
