.offcanvas-slide {
    width: 300px; /* 사이드바 메뉴 너비 */
  }
  
.content-wrapper {
  transition: transform 0.3s ease-in-out; /* 애니메이션 효과 */
}

.content-wrapper.show {
  transform: translateX(300px); /* 사이드바 메뉴 너비만큼 밀어냄 */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-two-rows .row {
  margin-right: 0;
  margin-left: 0;
}

.navbar-with-button .navbar-brand {
  margin-right: auto;
}

.custom-nav-link {
  /* color: #333; 링크 텍스트 색상 */
  /* transition: color 0.3s ease; 호버 시 부드러운 색상 변화 */
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  /* border-radius: 0.25rem; */
  /* margin-bottom: 0.5rem; */
  /* padding: 1rem 1.2rem; */
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 15px 20px;
  color: #333;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-nav-link:hover {
  background-color: #e2e6ea;
  color: #007bff; /* 링크 호버 시 색상 */
  text-decoration: none; /* 링크 호버 시 밑줄 제거 */
}

.justify-content-between {
  justify-content: space-between;
}

.custom-accordion {
  padding: 10px;
}

.custom-accordion-header {
  font-size: 18px;
}

.custom-button {
  display: block;
  width: 100%;
  font-size: 18px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-navbar {
  height: 60px; /* 원하는 높이로 변경 */
}